@function setRadius($val){
    // exemplo de if
    @if $val > 50% {
        $val: 50%
    } @else if $val < 0% {
        $val: 10%
    }
    @return $val
}

@mixin btn-hover($cor) {
    transition: all .5s;
    &:hover {
        background-color: $cor;
        color: white;
    }
}

%extend-btn {
    color: brown;
    margin: 5px;
    padding: 10px;
    border: revert;
    border-radius: setRadius(10%);
    font-size: 1.5rem;
}

.btn {
    $cor: #0ad2ec;
    background-color: $cor;
    @extend %extend-btn;
    @include btn-hover(darken($cor, 8%));
}